$slide-offsets: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 300px;
  width: 600px;
  position: relative;
  @each $offset in $slide-offsets {
    &.offset-#{$offset} {
      transform: translateX(-100% * $offset );
      transition: all ease-in 1s;
    }
  }
  &__image {
    height: 100%;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  &__title {
    position: absolute;
  }
}

.scroll {
  transform: translateX(-100%);
  transition: all ease-in 1s;
}
