.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 300px;
  width: 600px;
  position: relative;
  &__image {
    height: 100%;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  &__title {
    position: absolute;
  }
}

.scroll{
  transform: translateX(-100%);
  transition: all ease-in 1s;
}

.scroll2{
  transform: translateX(-200%);
  transition: all ease-in 1s;
}

