@use "../../globals.scss" as *;

.discount__info {
  font-family: "GT Eesti Pro Display Regular";
  background-color: $wb-base;
  padding: 2%;
  border-radius: 8px;
  position: relative;
  top:25%;
  right: 10%;
  scale: 1.5;
  h1 {
    color: white;
  }
  h2 {
    color: gray;
    text-decoration: line-through;
  }
  h3,
  h4 {
    color: white;
  }
}
