@use "../../globals.scss" as *;

.discount-slider {
  background-color: $wb-base;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='50' transform='rotate(45 50,50)' font-family='Helvetica, Arial, sans-serif' font-size='36' fill='white' opacity='0.2'%3ESALE%3C/text%3E%3C/svg%3E");
  border-radius: 16px;
  background-repeat: repeat;
  padding: 2%;
  @include laptop {
    flex-direction: column !important;
  }
  &__link{
    outline: none;
    padding: 0% 30%;
  }
  .slider {
    align-self: center;
    width: 50%;
    scale: 1;
    background-color: white;
    padding: 1%;
    border-radius: 16px;
    @include fablet {
      width: 95%;
    }
  }
}

.discount__info {
  font-family: "GT Eesti Pro Display Regular";
  background-color: $ozon-blue;
  padding: 2%;
  border-radius: 8px;
  position: relative;
  top: 20%;
  left: 25%;
  @include laptop {
    h4 {
      font-size: 0.8rem;
    }
    h3 {
      font-size: 1rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h1 {
      font-size: 1.8rem;
    }
    left: 25%;
  }
  @include tablet {
    h4 {
      font-size: 0.8rem;
    }
    h3 {
      font-size: 1rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h1 {
      font-size: 1.3rem;
    }
    min-width: 180px;
    left: 15%;
  }
  @include fablet {
    left: 20%;
  }
  @include mobile {
    left: 20%;
    min-width: 130px;
    h4 {
      font-size: 0.8rem;
    }
    h3 {
      font-size: 0.8rem;
    }
    h2 {
      font-size: 1rem;
    }
    h1 {
      font-size: 1.1rem;
    }
  }
  h1 {
    color: white;
    text-decoration: none;
  }
  h2 {
    color: $ozon-red;
    text-decoration: line-through;
  }
  h3,
  h4 {
    color: white;
  }
}
