.select{
    &-box{
        font-family: "GT Eesti Pro Display Regular";
    }
    &-button{

    }
    &-options{
        height: 0%;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s;
        &.open{
            opacity: 1;
            height: 100%;
        }
    }
    &-option{

    }
}