@use "../../globals.scss" as *;
.user-info {
  font-family: "GT Eesti Pro Display Regular";
  align-items: center !important;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
  }
  @include fablet {
  }
  @include mobile {
    flex-direction: column !important;
    align-items: center !important;
  }
  &__image{
    img{
        border-radius: 50%;
    }
  }
}
