@use "../../globals.scss" as *;
.user-info {
  font-family: "GT Eesti Pro Display Regular";
  align-items: center !important;
  margin-bottom: 5%;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
  }
  @include fablet {
  }
  @include mobile {
    flex-direction: column !important;
    align-items: center !important;
  }
  &__bio {
    width: 50%;
    @include mobile {
        width: 100%;
      }
    div {
      background-color: #eeeef2;
      border-radius: 12px;
      border: 1px solid #a73afd;
      margin: 5% 0%;
      padding: 5%;
      font-size: 24px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      @include mobile {
        width: 100%;
        justify-content: center !important;
      }
    }
  }
  &__image {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 50%;
    img {
      width: 50%;
      border-radius: 50%;
      border: 1px solid #a73afd;
      @include mobile {
        width: 100%;
      }
    }
  }
}
