@use '../../globals.scss' as *;

.cart{
    @include tablet{
        flex-direction: column !important;
    }
    .current-cart{
        width: 60%;
        @include tablet{
            width: 100%;
        }
    }
}