@use '../../../globals.scss' as *;

#notify-root {
  .notify{
    width: 250px;
    height: 50px;
    color: white;
    position: fixed;
    bottom: -100%;
    right: 10%;
    &__error{
      background-color: $notification-error;
    }
    &__warning{
      background-color: $notification-warning;
    }
    &__success{
      background-color: $notification-success;
    }
  }
  .visible{
    animation: notifySlide 0.5s ease-out forwards;
  }
}

@keyframes notifySlide {
  0%{
    bottom: -100%
  }
  100%{
    bottom: 20%;
  }
}
