@use '../../../globals.scss' as *;
.slider {
  &__frame {
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__control-prev {
  }
  &__control-next {
  }
}
