@use '../../../globals.scss' as *;
.slider {
  &__frame {
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 5%;
    height: 100%;
    .slide{
      min-width: 300px;
      min-height: 300px;
      background-size: contain;
      position: absolute;
      opacity: 0;
      &.active{
        opacity: 1;
      }
      &__title{
        position: absolute;
        bottom: 5%;
        left: 5%;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__control-prev {
  }
  &__control-next {
  }
}
