@use '../../../globals.scss' as *;
.slider {
  scale: 0.6;
  @include mobile{
    scale: 0.5;
  }
  &__frame {
    display: flex;
    height: 300px;
    width: 600px;
    overflow: hidden;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__control-prev {
  }
  &__control-next {
  }
}
