@use '../../globals.scss' as *;

.product-card {
  display: flex;
  font-family: "GT Eesti Pro Display Regular";
  &__title {
  }
  &__rate{
    display: flex;
  }
  &__reviews{
    display: flex;
  }
  &__title{
  }
  &__price{
    display: flex;
    h4{
      color: gray;
      text-decoration: line-through;
    }
    h3{
      color: $ozon-red;
    }
  }
  &__image {
    display: flex;
    justify-self: center;
    height: 300px;
    width: 250px;
    img {
      aspect-ratio: 1/1;
      object-fit: contain;
      width: 100%;
    }
  }
  button {
    padding: 5%;
    width: 100%;
  }
}
