@use "../../globals.scss" as *;

.product-card {
  font-family: "GT Eesti Pro Display Regular";
  padding: 3%;
  background-color: white;
  border-radius: 16px;
  position: relative;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
  }
  &__rate {
    margin-right: 5%;
  }
  &__reviews {
  }
  &__title {
  }
  &__price {
    h4 {
      color: gray;
      text-decoration: line-through;
    }
    h3 {
      color: $ozon-red;
    }
  }
  &__image {
    align-self: center;
    height: 300px;
    width: 250px;
    img {
      aspect-ratio: 1/1;
      object-fit: contain;
      width: 100%;
    }
  }
  button {
    padding: 5%;
    width: 100%;
    font-family: "GT Eesti Pro Display Regular";
  }
  &.out-of-stock {
    opacity: 0.4;
  }
}
