@use "../../../globals.scss" as *;

.grid-container {
  display: grid;
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
  @include laptop {
    grid-template-columns: repeat(4, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include fablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
