#modal-root {
  dialog {
    &.auth__modal {
      opacity: 0;
      position: fixed;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      &[open] {
        animation: authSlide 0.5s ease-out forwards;
      }
      &:not([open]) {
        animation: authSlide 0.5s ease-out backwards;
      }
    }
    &.catalogue__modal {
      width: 0%;
      &[open] {
        animation: catalogueSlide 0.5s ease-out forwards;
      }
      &:not([open]) {
        animation: catalogueSlide 0.5s ease-out backwards;
      }
    }
  }
}

@keyframes authSlide {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes catalogueSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}