.sign-in-form{
    min-width: 300px;
    padding: 5%;
    background-color: white;
    border-radius: 12px;
    font-family: "GT Eesti Pro Display Regular";
    overflow: hidden;
    button{
        padding: 5%;
        color: white;
    }
    p{
        font-family: "GT Eesti Pro Display Thin";
        color: red;
        transform: translate(5px, -25px);
        opacity: 0.5;
    }
}