@use "../../../globals.scss" as *;
@use 'sass:color';

button {
  display: flex;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  font-family: "GT Eesti Pro Display Thin";
  cursor: pointer;
  transition: all ease-in 0.25s;
}

.horizontal {
  justify-content: center;
  flex-direction: row;
}
.vertical {
  line-height: 2;
  align-items: center;
  flex-direction: column;
}

.wb {
  background-color: $wb-base;
  &:hover {
    background-color: $wb-dark;
  }
}
.ozon {
  background-color: $ozon-blue;
  &:hover {
    background-color: color.adjust($ozon-blue, $lightness: 10%, $space: hsl);
  }
}
