@use "../../globals.scss" as *;

.cart-item {
  font-family: "GT Eesti Pro Display Regular";
  background-color: rgba(167, 58, 253, 0.12);
  border-radius: 12px;
  border: 1px solid #a73afd;
  margin: 2% 0%;
  &__info {
    @include fablet {
      width: 70%;
    }
  }
  &__price {
    h4 {
      color: gray;
      text-decoration: line-through;
    }
    h3 {
      color: $ozon-red;
    }
  }
  &__description {
    width: 50%;
    h1 {
      @include mobile {
        font-size: 1.2rem;
      }
    }
  }
  &__image {
    align-self: center;
    height: 140px;
    width: 120px;
    img {
      aspect-ratio: 1/1;
      object-fit: contain;
      width: 100%;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 25px;
    width: 30%;
    @include fablet {
      margin: 0px 10px 0px 0px;
      width: 30%;
      justify-content: space-between;
    }
    .in-cart-controls {
      div {
        height: 32px;
        width: 32px;
      }
      width: 50%;
      @include fablet {
        flex-direction: column-reverse;
        margin: 1%;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
    }
  }
}
