@use "../../../globals.scss" as *;

.input-field {
  position: relative;
  width: 100%;
  label {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 10%;
    font-size: 12px;
    transition: all ease-in 0.25s;
    color: #acacb3;
    &.focused {
      font-size: 14px;
      top: -5%;
      left: 5%;
      color: black;
    }
  }
  input {
    &[type="text"],
    &[type="password"],
    &[type="email"],
    &[type="tel"],
    &[type="number"] {
      margin: 10% 0%;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 12px;
      outline: none;
      padding: 5% 10%;
      background-color: #f1f1f5;
      transition: all ease-in 0.1s;
      font-size: 24px;
      @include mobile{
        font-size: 16px;
      }
      &:focus {
        border: 1px solid $wb-base;
        background-color: transparent;
      }
    }
  }
}
