@use "../../globals.scss" as *;
.product-info {
  font-family: "GT Eesti Pro Display Regular";
  position: relative;
  .fav-button-container {
    right: 5%;
    top: 5%;
  }
  &__images {
    position: relative;
    @include tablet {
      flex-direction: column-reverse !important;
    }
    &__wrapper{
      position: relative;
        width: 90%;
        @include fablet {
        width: 100%;
      }
      }
    &__main {
      align-self: center;
      height: auto;
      width: 100%;
      img {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        margin-bottom: 5%;
        padding: 1%;
        aspect-ratio: 1/1;
        object-fit: contain;
        width: 100%;
      }
    }
    &__controls {
      align-self: center;
      height: auto;
      width: 20%;
      @include tablet {
        width: 100%;
        align-self: normal;
        flex-direction: row !important;
      }
      img {
        background-color: rgba(0, 0, 0, 0.05);
        margin: 5%;
        padding: 1%;
        border-radius: 16px;
        aspect-ratio: 1/1;
        object-fit: contain;
        width: 100%;
        &:hover{
          background-color: rgba(0, 0, 0, 0.1);
        }
        @include tablet {
          margin: 1%;
          width: 25%;
        }
      }
    }
  }
  &__details {
    p {
      font-family: "GT Eesti Pro Display Thin";
      font-size: 24px;
      margin: 5% 0%;
      @include tablet {
        font-size: 18px;
      }
    }
    @include tablet {
      flex-direction: column !important;
    }
  }
  &__description {
    scale: 0.7;
    width: 90%;
    @include tablet {
      scale: 1;
      width: 100%;
    }
    h1 {
      font-size: 48px;
      @include tablet {
        font-size: 36px;
      }
    }
    h2 {
      font-size: 36px;
      @include tablet {
        font-size: 24px;
      }
    }
    h3,
    h4 {
      font-size: 24px;
      @include tablet {
        font-size: 18px;
      }
    }
  }
  &__properties {
    padding: 2%;
    @include tablet {
      padding: 5%;
    }
    h3 {
      padding-bottom: 2%;
      font-weight: lighter;
      @include tablet {
        font-size: 18px;
      }
      &:first-of-type {
        min-width: 50%;
        border-bottom: 1px solid gainsboro;
      }
    }
  }
  &__reviews {
    margin: 0% 0% 5% 0%;
    @include tablet {
      margin: 3% 0%;
    }
  }
  .in-cart-controls{
    width: 100%;
    @include tablet{
      width: 50%;
    }
    @include mobile{
      width: 100%;
    }
  }
  button {
    margin: 5% 0%;
    padding: 5%;
    width: 100%;
    font-family: "GT Eesti Pro Display Regular";
    @include tablet {
      width: 50%;
      margin: 3% 0%;
      padding: 3%;
    }
    @include mobile{
      padding: 5%;
      width: 100%;
    }
  }
}
