@use "../../globals.scss" as *;
.product-info {
  font-family: "GT Eesti Pro Display Regular";
  &__images {
    @include tablet {
      flex-direction: column-reverse !important;
    }
    &__main {
      align-self: center;
      height: auto;
      width: 50%;
      @include tablet {
        width: 100%;
      }
      img {
        aspect-ratio: 1/1;
        object-fit: contain;
        width: 100%;
      }
    }
    &__controls {
      align-self: center;
      height: auto;
      width: 20%;
      @include tablet {
        width: 100%;
        align-self: normal;
        flex-direction: row !important;
      }
      img {
        aspect-ratio: 1/1;
        object-fit: contain;
        width: 100%;
        @include tablet {
          width: 25%;
        }
      }
    }
  }
  &__details {
    @include tablet {
      flex-direction: column !important;
    }
  }
  &__description {
    width: 50%;
    @include tablet {
      width: 100%;
    }
  }
  &__properties {
    h3 {
      font-weight: lighter;
      &:first-of-type {
        min-width: 50%;
        border-bottom: 1px solid gainsboro;
      }
    }
  }
  button {
    padding: 5%;
    width: 100%;
    font-family: "GT Eesti Pro Display Regular";
  }
}
