.text-field {
  textarea {
    border-radius: 16px;
    margin: 5% 0%;
    width: 100%;
    padding: 5%;
    font-size: 24px;
    transition: all ease-in 0.1s;
    outline: none;
    background-color: #f1f1f5;
    &:focus {
      border: 1px solid $wb-base;
      background-color: transparent;
    }
    @include mobile {
      font-size: 16px;
    }
  }
}
