.card-count-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GT Eesti Pro Display Thin";
  background-color: #b71c1c;
  color: white;
  bottom: 100%;
  left: 70%;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
