@use "../../globals.scss" as *;

.rate-product {
  margin: 0%;
  padding: 0%;
  width: 100%;
  border-radius: 16px;
  &__wrapper{
    border-radius: 15px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .08);
    padding: 24px;
  }
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    textarea {
      resize: none;
      border-radius: 16px;
      width: 100%;
      padding: 5%;
      font-size: 16px;
      transition: all ease-in 0.1s;
      outline: none;
      background-color: #f1f1f5;
      &:focus {
        border: 1px solid $wb-base;
        background-color: transparent;
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 20% !important;
  }
}
