@use "../../globals.scss" as *;

.rate-product {
  margin: 0%;
  padding: 0%;
  width: 40%;
  border-radius: 16px;
  @include tablet{ 
    width: 100%;
  }
  & > div {
    width: 75%;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 20% !important;
  }
}
